<!DOCTYPE html>
<html>

<head>
  <meta property="al:android:url" content="app://faceOffScott/routes">
  <meta property="al:android:package" content="com.faceofffe">
  <meta property="al:android:app_name" content="faceOffFe">

  <style>
    @import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

    * {
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
    }

    html,
    body {
      margin: 0px;
      height: 100%;
    }

    /* a blue color as a generic focus style */
    button:focus-visible {
      outline: 2px solid #4a90e2 !important;
      outline: -webkit-focus-ring-color auto 5px !important;
    }

    a {
      text-decoration: none;
      font-weight: 400;
      color: #1155CC;
    }

    @import url("https://fonts.googleapis.com/css?family=DM+Sans:400");

    :root {
      --white: rgba(255, 255, 255, 1);
      --colors-text-tint-black: rgba(0, 0, 0, 1);
      --colors-brand-primary-violet: rgba(114, 56, 250, 1);
      --colors-shades-primary: rgba(30, 48, 80, 1);
      --colors-shades-tint-light-dark: rgba(255, 255, 255, 1);
    }

    /*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-colors-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

    [data-colors-mode="light"] {
      --colors-text-tint-black: rgba(0, 0, 0, 1);
      --colors-shades-primary: rgba(30, 48, 80, 1);
      --colors-shades-tint-light-dark: rgba(255, 255, 255, 1);
    }

    [data-colors-mode="dark"] {
      --colors-text-tint-black: rgba(255, 255, 255, 1);
      --colors-shades-primary: rgba(255, 255, 255, 1);
      --colors-shades-tint-light-dark: rgba(0, 0, 0, 1);
    }

    .sub-openstrokeicons {
      width: 620px;
      margin: auto;
      background-color: var(--white);
    }

    .sub-openstrokeicons .confirm-your-email {
      font-family: "DM Sans", Helvetica;
      font-weight: 400;
      color: var(--colors-text-tint-black);
      font-size: 22px;
      letter-spacing: 0;
      line-height: 26px;
      display: flex;
      flex-direction: column
    }

    .sub-openstrokeicons .text-wrapper {
      font-weight: 700;
    }

    .sub-openstrokeicons .span {
      font-size: 18px;
    }

    .sub-openstrokeicons .OS {
      width: 100%;
      height: 30px;
      margin-bottom: 30px;
      margin-top: 30px;

    }

    .sub-openstrokeicons .overlap-group {
      position: relative;
      height: 30px;
    }

    .sub-openstrokeicons .rectangle {
      border-image: linear-gradient(to bottom, rgb(76, 195, 249), rgb(118, 56, 250)) 1;
      position: absolute;
      width: 14px;
      height: 30px;
      top: 0;
      left: 8px;
      border-radius: 52.15px;
      border: 2.5px solid;
      border-color: transparent;
    }

    .sub-openstrokeicons .rectangle-2 {
      transform: rotate(90deg);
      border-image: linear-gradient(to bottom, rgb(255, 193, 9), rgb(255, 10.2, 229.92)) 1;
      position: absolute;
      width: 14px;
      height: 30px;
      top: 0;
      left: 8px;
      border-radius: 52.15px;
      border: 2.5px solid;
      border-color: transparent;
    }

    .sub-openstrokeicons .union {
      position: absolute;
      width: 14px;
      height: 14px;
      top: 8px;
      left: 8px;
    }
  </style>
</head>

<body>
  <div class="sub-openstrokeicons">
    <div class="OS">
      <!-- <a href="https://openstrokeicons.com">
        <img class="openstrokeicons" src="https://openstroke.nyc3.digitaloceanspaces.com/user/OS.svg" />
      </a> -->
    </div>
    <p class="confirm-your-email">
      <span class="text-wrapper">Reset your password<br /><br /></span>
      <span class="span">
        We've received a request to reset your FaceOff account password. To reset your password, click a button below. This
        link will expire in 24 hours. <br /><br />
        <a href="<%= url %><%= hash %>">Open App</a>
        <br /><br />
        You're receiving this email because you try to reset your password.<br /><br />
        If you haven't done this action, please ignore this email.
        <br /><br />Cheers,<br />Team
        FaceOff</span>
    </p>
    
  </div>
</body>


</html>